@{
    ViewBag.Title = "About";
    ViewBag.Message = "This ASP.NET project was built with C#, Razor, and Bootstrap. Deployed to Azure. There is no affiliation between the creator of this Web Application and the creators of Marvel Contest of Champions.";
}
<h2>@ViewBag.Title</h2>
<br />
<h3>@ViewBag.Message</h3>
<br />

