@{
    ViewBag.Title = "About";
    ViewBag.Message = "This ASP.NET project was built with C#, Razor, and Bootstrap. Deployed to Azure. There is no affiliation between the creator of this Web Application and the creators of Marvel Contest of Champions.";
}

<div class="text-center">
    <h2>@ViewBag.Title</h2>
</div>
<br />
<h3>@ViewBag.Message</h3>
<br />

