@{
    ViewBag.Title = "About";
    ViewBag.Message = "This project is built with C# and .NET framework. There is no affliation between the creator of this Web Application and the creators of Marvel Contest of Champions. Any constructive critisms or ways to improve this Web Application is most welcome.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<p>This is a tool to help Alliance leaders and officiers plan for Alliance War, in the mobile game Marvel Contest of Champions.</p>
