@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
    <h1>RED MCOC AW</h1>
    <p class="lead">Plan your next Alliance War </p>    
</div>

<div class="row">    
    <div class="col-md-8">
        <h2>Welcome to RED MCOC AW V1</h2>
        <img alt="Map" src="~/Content/Images/Map.jpg" class="img-fluid rounded"/>
        
    </div>
    <div class="col-md-4">
        <h2>Important Notes:</h2>
        <p>
            This version of the application only has ten champions. They are as follows:<br />
            Id: 1 Name: Hulk <br />
            Id: 2 Name: Spiderman <br />
            Id: 3 Name: Doctor Strange<br />
            Id: 4 Name: Iron Man<br />
            Id: 5 Name: Black Widow<br />
            Id: 6 Name: Thor<br />
            Id: 7 Name: Scarlett Witch<br />
            Id: 8 Name: Hawkeye<br />
            Id: 9 Name: Captain Marvel<br />
            Id: 10 Name: Captain America <br />
        </p>
    </div>
</div>